{% extends 'base.html' %}
{% block title %}Upload Item{% endblock %}
{% block content %}
<h2>Upload an Item</h2>

<form method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div>
        {{ form.name.label }} {{ form.name() }}
    </div>
    <div>
        {{ form.description.label }} {{ form.description() }}
    </div>
    <div>
        {{ form.condition.label }} {{ form.condition() }}
    </div>
    <div>
        {{ form.category.label }} {{ form.category() }}
    </div>
    <div>
        {{ form.submit() }}
    </div>
</form>

{% endblock %}



